:root {
  --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-display: 'IM Fell Double Pica', serif, var(--font-body); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  background-color: #d7ddd8;
  background-image: url("https://live.staticflickr.com/65535/51909472553_8973b581d7_4k.jpg");
  background-position: bottom;
  background-size: cover; }

.app__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.app__titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }
  .app__titleContainer--title {
    font-size: 46px;
    font-family: var(--font-display);
    font-style: italic;
    margin: 12px 0;
    color: #314846; }
  .app__titleContainer--subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
    color: #314846; }

hr.divider {
  border-bottom: 1px solid #788371;
  width: 55%;
  margin-top: 12px;
  margin-bottom: 24px; }

.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }
  .app__main--hero {
    width: 1000px;
    height: 645px;
    background-image: url("https://live.staticflickr.com/65535/51889526211_839a4c13b6_3k.jpg");
    background-size: cover;
    border-radius: 4px; }

.app__navigation--list {
  display: flex;
  margin: 0 auto; }
  .app__navigation--list .navLink {
    color: #314846;
    text-decoration: none;
    margin: 0 60px; }
    .app__navigation--list .navLink:hover {
      color: #A4B4A7;
      cursor: pointer; }

input {
  background-color: #d7ddd8;
  color: #314846;
  border: 1px solid #314846;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: left;
  padding-left: 10px;
  width: 225px; }
  input::placeholder {
    color: #314846; }
  input[type="textarea"] {
    width: 325px;
    height: 60px; }

button {
  background-color: #C7956D;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #333939; }
  button:hover {
    cursor: pointer; }

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }
