html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 0px 24px;
}

.app__navigation--list {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: underline;
}