:root {
  --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-display: 'Poppins', serif, var(--font-body); }

input, textarea {
  background-color: #f2e9dc;
  color: #333939;
  border: 1px solid #333939;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: left;
  padding-left: 10px;
  width: 225px; }
  input::placeholder, textarea::placeholder {
    color: #333939; }

textarea {
  width: 225px;
  height: 60px; }

button {
  background-color: #dc9c7b;
  border: 0;
  outline: 0;
  border-radius: 4px;
  border: 2px solid #dc9c7b;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #f2e9dc;
  font-family: 'Josefin Slab';
  font-size: 16px;
  margin: 0 12px;
  font-weight: bold; }
  button:hover {
    cursor: pointer;
    border: 2px solid #87615a;
    color: #f2e9dc;
    background-color: #87615a; }

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }
  @media only screen and (max-width: 415px) {
    .error__container {
      max-width: 320px; } }

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 12px 0; }
  .accordion__title, .accordion__title--open {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid #86a090;
    padding: 12px; }
    .accordion__title:hover, .accordion__title--open:hover {
      cursor: pointer; }
  .accordion__content {
    padding: 12px; }
  .accordion .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 5px;
    width: 5px; }
    .accordion .arrow.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      z-index: 1; }
    .accordion .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: 1; }

html {
  height: 100%; }

html, body {
  margin: 0;
  width: 100%;
  font-family: var(--font-body);
  background-color: #f8f0e5; }

body {
  min-height: 100%; }

.app__container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: max-content;
  position: relative; }
  .app__container--left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #8e967f;
    justify-content: space-between; }
  .app__container--right {
    width: 60%; }
  @media only screen and (min-width: 720px) {
    .app__container--left {
      min-height: 100vh;
      flex-grow: 1; }
    .app__container--right {
      min-height: 100vh;
      flex-grow: 1; } }
  @media only screen and (max-width: 415px) {
    .app__container {
      flex-direction: column; }
      .app__container--left {
        width: 100%; }
      .app__container--right {
        width: 100%;
        height: 100%; } }

.app__seal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid #f2e9dc;
  position: absolute;
  right: 56%;
  top: 45%;
  backdrop-filter: blur(10px);
  background-color: rgba(233, 220, 203, 0.5);
  text-decoration: none; }
  @media only screen and (max-width: 415px) {
    .app__seal {
      right: 30%;
      top: 85%;
      background-color: #8e967f; } }
  .app__seal--text {
    font-size: 42px;
    color: #8e967f;
    font-family: 'Josefin Slab';
    font-weight: bold; }
    @media only screen and (max-width: 415px) {
      .app__seal--text {
        color: #f2e9dc; } }
  .app__seal:hover {
    background-color: #f2e9dc; }

.app__titleContainer {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 415px) {
    .app__titleContainer {
      display: none; } }
  .app__titleContainer--title {
    font-size: 100px;
    font-family: var(--font-display);
    margin: 12px;
    color: #f2e9dc; }
  .app__titleContainer--subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
    color: #333939; }

.app__detailsContainer {
  margin: 12px; }
  .app__detailsContainer--text {
    color: #c0d3c7;
    font-size: 20px; }
  @media only screen and (max-width: 415px) {
    .app__detailsContainer {
      text-align: center; } }

.app__navigation--desktop {
  display: flex;
  justify-content: space-around;
  padding: 12px 0; }
  @media only screen and (max-width: 415px) {
    .app__navigation--desktop {
      display: none; } }
  .app__navigation--desktop .app__navigation--link {
    color: #c0d3c7;
    text-decoration: none;
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: bold; }
    .app__navigation--desktop .app__navigation--link:hover {
      color: #f2e9dc;
      cursor: pointer;
      text-decoration: underline; }

.app__navbar {
  width: -webkit-fill-available; }
  @media only screen and (min-width: 720px) {
    .app__navbar {
      display: none; } }
  .app__navbar .app__navigation--mobile {
    display: block;
    height: 62px;
    position: relative;
    z-index: 100; }
    .app__navbar .app__navigation--mobile .hamburger-menu {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .app__navbar .app__navigation--mobile .hamburger-menu__items {
        display: flex;
        background-color: #f8f0e5;
        padding-top: 120px;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center; }
        .app__navbar .app__navigation--mobile .hamburger-menu__items li {
          margin-bottom: 1.2rem;
          font-size: 1.5rem;
          font-weight: 500; }
      .app__navbar .app__navigation--mobile .hamburger-menu__line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #dc9c7b; }
        .app__navbar .app__navigation--mobile .hamburger-menu__line--line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out; }
        .app__navbar .app__navigation--mobile .hamburger-menu__line--line2 {
          transition: transform 0.2s ease-in-out; }
        .app__navbar .app__navigation--mobile .hamburger-menu__line--line3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out; }
    .app__navbar .app__navigation--mobile .nav-checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer; }
    .app__navbar .app__navigation--mobile li {
      list-style: none; }
    .app__navbar .app__navigation--mobile a {
      text-decoration: none;
      color: #8e967f;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem; }
    .app__navbar .app__navigation--mobile input[type="checkbox"]:checked ~ .hamburger-menu__items {
      transform: translateX(0); }
    .app__navbar .app__navigation--mobile input[type="checkbox"]:checked ~ .hamburger-menu .hamburger-menu__line--line1 {
      transform: rotate(45deg); }
    .app__navbar .app__navigation--mobile input[type="checkbox"]:checked ~ .hamburger-menu .hamburger-menu__line--line2 {
      transform: scaleY(0); }
    .app__navbar .app__navigation--mobile input[type="checkbox"]:checked ~ .hamburger-menu .hamburger-menu__line--line3 {
      transform: rotate(-45deg); }
    .app__navbar .app__navigation--mobile input[type="checkbox"]:checked ~ .logo {
      display: none; }
  .app__navbar .logo {
    font-size: 16px;
    font-family: var(--font-display);
    color: #f2e9dc;
    position: absolute;
    right: 15px; }
    .app__navbar .logo h1 {
      margin: 4px 0; }

.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }
  .app__main--hero {
    width: 100%;
    height: 100%;
    background-image: url("https://live.staticflickr.com/65535/51889526211_839a4c13b6_3k.jpg");
    background-size: cover; }
    @media only screen and (max-width: 415px) {
      .app__main--hero {
        width: 100%;
        height: 255px; } }

.app__footer {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #c0d3c7; }
