:root {
  --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-display: 'IM Fell Double Pica', serif, var(--font-body); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  background-color: #d7ddd8; }

.app__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.app__titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }
  .app__titleContainer--title {
    font-size: 46px;
    font-family: var(--font-display);
    font-style: italic;
    margin: 12px 0;
    color: #314846; }
  .app__titleContainer--subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
    color: #314846; }

hr.divider {
  border-bottom: 1px solid #788371;
  width: 75%;
  margin-top: 12px;
  margin-bottom: 24px; }

.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }
  .app__main--hero {
    width: 705px;
    height: 530px;
    background-image: url("https://live.staticflickr.com/65535/51889526211_839a4c13b6_3k.jpg");
    background-size: cover;
    border-radius: 4px; }

.app__navigation--list {
  display: flex;
  justify-content: space-evenly;
  padding: 0 100px; }
  .app__navigation--list .navLink {
    color: #314846;
    text-decoration: none; }
    .app__navigation--list .navLink:hover {
      color: #A4B4A7;
      cursor: pointer; }

input {
  background-color: #d7ddd8;
  color: #314846;
  border: 1px solid #314846;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: left;
  padding-left: 10px;
  width: 225px; }
  input::placeholder {
    color: #314846; }

button {
  background-color: #C7956D;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #333939; }
  button:hover {
    cursor: pointer; }

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }

.rsvp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(1248px);
  margin: 0 auto; }
  .rsvp__container form {
    text-align: center; }
  .rsvp__container form, .rsvp__container p {
    color: #314846; }

.rsvp__invites {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0; }
  .rsvp__invites .input-divider {
    margin: 0 8px; }

.rsvp__form {
  display: flex;
  width: 500px;
  justify-content: space-between; }

.guest__form--rsvp, .plusOne__form--rsvp {
  display: flex;
  flex-direction: column; }
  .guest__form--rsvp .section-title, .plusOne__form--rsvp .section-title {
    font-size: 28px;
    margin: 0;
    padding-bottom: 16px; }
  .guest__form--rsvp .title, .plusOne__form--rsvp .title {
    font-size: 24px; }
  .guest__form--rsvp .subtitle, .plusOne__form--rsvp .subtitle {
    font-size: 18px; }
  .guest__form--rsvp--hidden, .plusOne__form--rsvp--hidden {
    display: none; }

.checkbox__container {
  display: flex;
  align-items: center; }
  .checkbox__container input[type="radio"], .checkbox__container input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0; }
    .checkbox__container input[type="radio"]:checked + label, .checkbox__container input[type="checkbox"]:checked + label {
      background-color: #788371; }
  .checkbox__container label {
    display: inline-block;
    border: 2px solid #788371;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 8px; }
    .checkbox__container label:hover {
      cursor: pointer; }
  .checkbox__container--hidden {
    display: none; }

.button__container {
  margin: 60px 0; }

.diet__form--hidden, .checkbox__form--hidden, .meal__form--hidden, .accom__form--hidden, .notes__form--hidden {
  display: none; }
