:root {
  --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-display: 'Poppins', serif, var(--font-body); }

input, textarea {
  background-color: #f2e9dc;
  color: #333939;
  border: 1px solid #333939;
  outline: 0;
  border-radius: 4px;
  padding: 12px 24px;
  text-align: left;
  padding-left: 10px;
  width: 225px; }
  input::placeholder, textarea::placeholder {
    color: #333939; }

textarea {
  width: 225px;
  height: 60px; }

button {
  background-color: #dc9c7b;
  border: 0;
  outline: 0;
  border-radius: 4px;
  border: 2px solid #dc9c7b;
  padding: 12px 24px;
  text-transform: uppercase;
  color: #f2e9dc;
  font-family: 'Josefin Slab';
  font-size: 16px;
  margin: 0 12px;
  font-weight: bold; }
  button:hover {
    cursor: pointer;
    border: 2px solid #87615a;
    color: #f2e9dc;
    background-color: #87615a; }

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px; }
  @media only screen and (max-width: 415px) {
    .error__container {
      max-width: 320px; } }

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 12px 0; }
  .accordion__title, .accordion__title--open {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid #86a090;
    padding: 12px; }
    .accordion__title:hover, .accordion__title--open:hover {
      cursor: pointer; }
  .accordion__content {
    padding: 12px; }
  .accordion .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 5px;
    width: 5px;
    transition: 0.5s; }
    .accordion .arrow.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      z-index: 1; }
    .accordion .arrow.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: 1; }

.schedule__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center; }
  .schedule__container h4 {
    margin: 10px 0; }
  .schedule__container p {
    margin: 10px 0; }
  .schedule__container main {
    height: 100%; }

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box; }
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5; }
  .timeline ul {
    padding: 0;
    margin: 0; }
    .timeline ul li {
      list-style: none;
      position: relative;
      width: 50%;
      padding: 20px 40px;
      box-sizing: border-box; }
      .timeline ul li:nth-child(odd) {
        float: left;
        text-align: right;
        clear: both; }
        .timeline ul li:nth-child(odd)::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 24px;
          right: -6px;
          background: #dc9c7b;
          border-radius: 50%;
          box-shadow: 0 0 0 3px rgba(178, 108, 72, 0.3); }
        .timeline ul li:nth-child(odd) .time {
          position: absolute;
          top: 12px;
          right: -90px;
          margin: 0;
          padding: 8px 16px;
          background: #dc9c7b;
          color: #fff;
          border-radius: 18px;
          box-shadow: 0 0 0 3px rgba(178, 108, 72, 0.3); }
      .timeline ul li:nth-child(even) {
        float: right;
        text-align: left;
        clear: both; }
        .timeline ul li:nth-child(even)::before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 24px;
          left: -4px;
          background: #dc9c7b;
          border-radius: 50%;
          box-shadow: 0 0 0 3px rgba(178, 108, 72, 0.3); }
        .timeline ul li:nth-child(even) .time {
          position: absolute;
          top: 12px;
          left: -90px;
          margin: 0;
          padding: 8px 16px;
          background: #dc9c7b;
          color: #fff;
          border-radius: 18px;
          box-shadow: 0 0 0 3px rgba(178, 108, 72, 0.3); }
      .timeline ul li .description {
        padding-bottom: 20px; }
        .timeline ul li .description img {
          width: 50px; }
        .timeline ul li .description h3 {
          padding: 0;
          margin: 0;
          color: #dc9c7b;
          font-weight: 600; }
        .timeline ul li .description p {
          margin: 10px 0 0;
          padding: 0; }
      .timeline ul li .time h4 {
        margin: 0;
        padding: 0;
        font-size: 14px; }
  @media (max-width: 1000px) {
    .timeline {
      width: 100%; } }
  @media (max-width: 767px) {
    .timeline {
      width: 100%;
      padding-bottom: 0; }
      .timeline h1 {
        font-size: 40px;
        text-align: center; }
      .timeline::before {
        left: 20px;
        height: 100%; }
      .timeline ul li:nth-child(odd),
      .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px; }
        .timeline ul li:nth-child(odd)::before,
        .timeline ul li:nth-child(even)::before {
          top: -18px;
          left: 16px; }
        .timeline ul li:nth-child(odd) .time,
        .timeline ul li:nth-child(even) .time {
          top: -30px;
          left: 50px;
          right: inherit; } }

.attributes {
  display: flex;
  position: absolute;
  font-size: 8px;
  bottom: 0;
  margin: 24px 0; }
  .attributes__credit {
    margin: 0 12px; }
  @media (min-width: 767px) {
    .attributes {
      bottom: -45px; } }
