.admin__container {
  display: flex;
  flex-direction: column;
  &--row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 750px;
  }
  &--column {
    flex-direction: column;
  }
  align-items: center;
  justify-content: center;
}

.admin__form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  &--input {
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .radioContainer {
      display: flex;
      &--option {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        input[type="radio"] {
          padding: 0;
          width: 30px;
        }
      }
    }
  }
  label {
    margin: 0 12px;
  }
  button {
    margin: 48px 0;
  }
}

.admin__title {
  font-size: 32px;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}