$black: #333939;
$rose: rgb(167, 121, 111);
$roseLight: rgba(167, 121, 111, 0.5);
$roseDark: rgb(135, 97, 90);
$cream: rgb(226, 209, 187);
$creamLight: rgb(233, 220, 203);
$tropic: rgb(60, 82, 72);
$sage: rgb(159, 159, 117);
$sageDark: rgb(124, 124, 92);

$terracotta: rgb(220, 156, 123);
$terracottaDark: rgb(178, 108, 72);
$rust: rgb(182, 123, 106);
$grey: rgb(226, 210, 200);
$sageGreen: rgb(192, 211, 199);
$sageGreenDark: rgb(134, 160, 144);
$fern: rgb(142, 150, 127);
$creamy: rgb(242, 233, 220);
$creamyLight: rgb(247, 240, 230);

$borderRadius: 4px;

$primary: $fern;
$secondary: $sageGreen;
$secondaryDark: $sageGreenDark;
$tertiary: $terracotta;

$background: $creamy;
$backgroundLight: $creamyLight;

$desktop: 1200px;
$tablet: 720px;
$mobile: 415px;

:root {
  --font-body: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // --font-display: 'IM Fell Double Pica', serif, var(--font-body);
  // --font-display: 'Josefin Slab', serif, var(--font-body);
  --font-display: 'Poppins', serif, var(--font-body);
}

input, textarea {
  background-color: $background;
  color: $black;
  border: 1px solid $black;
  outline: 0;
  border-radius: $borderRadius;
  padding: 12px 24px;
  text-align: left;
  padding-left: 10px;
  width: 225px;
  &::placeholder {
    color: $black;
  }
}

textarea {
  width: 225px;
  height: 60px;
}

button {
  background-color: $tertiary;
  border: 0;
  outline: 0;
  border-radius: $borderRadius;
  border: 2px solid $tertiary;
  padding: 12px 24px;
  text-transform: uppercase;
  color: $background;
  font-family: 'Josefin Slab';
  font-size: 16px;
  margin: 0 12px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    border: 2px solid $roseDark;
    color: $background;
    background-color: $roseDark;
  }
}


.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  max-width: calc(1248px);
  padding: 42px 24px;
  @media only screen and (max-width: $mobile) {
    max-width: 320px;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 12px 0;
  &__title, &__title--open {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 2px solid $secondaryDark;
    padding: 12px;
    &:hover {
      cursor: pointer;
    }
  }
  &__content {
    padding: 12px;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 5px;
    width: 5px;
    transition: 0.5s;
    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      z-index: 1;
    }
    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: 1;
    }
  }
}