@import './index.scss';

.rsvp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(1248px);
  margin: 0 auto;
  @media only screen and (max-width: $mobile) {
    max-width: 320px;
  }
  form {
    text-align: center;
  }

  form, p {
    color: $fontColor;
  }

  .success {
    text-align: center;
  }
}

.rsvp__invites {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }
  .input-divider {
    margin: 0 8px;
    @media only screen and (max-width: $mobile) {
      margin: 4px 0;
    }
  }
}

.rsvp__form {
  display: flex;
  width: 500px;
  justify-content: space-between;
  @media only screen and (max-width: $mobile) {
    max-width: 320px;
    flex-direction: column;
  }
}

.guest__form, .plusOne__form {
  &--rsvp {
    display: flex;
    flex-direction: column;
    .section-title {
      font-size: 28px;
      margin: 0;
      padding-bottom: 16px;
    }
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 18px;
    }
    &--hidden {
      display: none;
    }
  }
}

.checkbox__container {
  display: flex;
  align-items: center;
  input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked + label {
      background-color: $sage;
    }
  }
  label {
    display: inline-block;
    border: 2px solid $sage;
    border-radius: $borderRadius;
    padding: 10px 20px;
    margin: 8px;
    @media only screen and (max-width: $mobile) {
      padding: 10px 16px;
      font-size: 16px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &--hidden {
    display: none;
  }
}

.button__container {
  margin: 60px 0;
  button {
    margin: 0 12px;
    font-size: 14px;
  }
  @media only screen and (max-width: $mobile) {
    margin: 30px 0;
  }
  .previous {
    background-color: transparent;
    color: $wood;
    border: 2px solid transparent;
    &:hover {
      // background-color: $wood;
      // color: $background;
      border-bottom: 2px solid $wood;
    }
  }
}

.diet__form, .checkbox__form, .meal__form, .accom__form, .notes__form, .story__form {
  &--hidden {
    display: none;
  }
}

.diet__form {
  .text-input {
    border: 2px solid $sage;
    border-radius: $borderRadius;
    padding: 10px 20px;
    margin: 8px;
    background-color: rgba(255,255,255,0.45);
  }
  .checkbox__container {
    @media only screen and (max-width: $mobile) {
      max-width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    }
  }
}

.accom__form, .story__form {
  width: 750px;
  @media only screen and (max-width: $mobile) {
    max-width: 320px;
    .checkbox__container {
      max-width: 320px;
    flex-wrap: wrap;
    justify-content: center;
    }
  }
  .checkbox__container {
    justify-content: center;
  }
}