@import './common.scss';

.rsvp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(1248px);
  margin: 0 auto;

  @media only screen and (max-width: $mobile) {
    max-width: 320px;
  }

  form, p {
    text-align: center;
    color: $black;
  }

  &--success {
    text-align: center;
  }
}

.rsvp__title {
  font-size: 32px;
  color: $primary;
}

.rsvp__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  max-width: 650px;

  p {
    margin: 4px 0;

    span {
      font-weight: bold;
      color: $primary;
    }
  }

  &--line {
    display: flex;
    flex-direction: column;

    h4 {
      font-weight: bold;
      color: $tertiary;
      margin: 0;
    }

    h5 {
      margin: 0;
    }
  }
}

.rsvp__invites {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
  }

  .input-divider {
    margin: 0 8px;

    @media only screen and (max-width: $mobile) {
      margin: 4px 0;
    }
  }
}

.rsvp__form {
  display: flex;
  width: 600px;
  justify-content: space-between;

  &--plusOne {
    height: 30px;
    align-self: center;
    padding: 8px;
    &::placeholder {
      font-size: 14px;
      font-style: italic;
    }
  }

  @media only screen and (max-width: $mobile) {
    max-width: 320px;
    flex-direction: column;
  }
}

.section-title {
  color: $tertiary;
  font-size: 28px;
  margin: 0;
  padding-bottom: 16px;
}

.guest__form, .plusOne__form {
  &--rsvp {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 24px;
    }

    .subtitle {
      font-size: 18px;
    }

    &--hidden {
      display: none;
    }
  }
}

.diet__form, .checkbox__form, .meal__form, .accom__form, .notes__form, .story__form {
  &--hidden {
    display: none;
  }
}

.meal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--course {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h4, h5 {
    margin: 4px 0;
  }
  .checkbox__container {
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      max-width: 320px;
      flex-wrap: wrap;
      justify-content: center;
      p {
        margin: 0;
      }
    }
  }
}

.diet__form {
  .text-input {
    border: 2px solid $secondary;
    border-radius: $borderRadius;
    padding: 10px 20px;
    margin: 8px;
    background-color: rgba(255,255,255,0.45);
  }

  .checkbox__container {
    @media only screen and (max-width: $mobile) {
      max-width: 320px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}


.accom__form, .story__form {
  width: 750px;

  .checkbox__container {
    justify-content: center;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 320px;

    .checkbox__container {
      max-width: 320px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.subtitle {
  color: $primary;
}

.checkbox__container {
  display: flex;
  align-items: center;

  &--hidden {
    display: none;
  }

  input[type="radio"], input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;

    &:checked + label {
      background-color: $secondary;
    }

    &:hover + label {
        cursor: pointer;
        border: 2px solid $secondaryDark;
        background-color: $secondaryDark;
        color: $background;
    }
  }

  label {
    display: inline-block;
    border: 2px solid $secondary;
    border-radius: $borderRadius;
    padding: 10px 20px;
    margin: 8px;

    @media only screen and (max-width: $mobile) {
      padding: 10px 16px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid $secondaryDark;
      background-color: $secondaryDark;
      color: $background;
    }
  }
}

.button__container {
  margin: 60px 0;

  @media only screen and (max-width: $mobile) {
    margin: 30px 0;
  }

  .previous {
    background-color: transparent;
    color: $tertiary;
    border: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $tertiary;
    }
  }
}