.travel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(1248px);
  margin: 0 auto;
  padding: 0 46px;
}

.neighbourhood__container {
  width: 600px;
  height: 600px;
}

.maps__wrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.map {
  height: 450px;
  width: 700px;
}

.maps__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  cursor: 'pointer';
  &:hover {
    z-index: 1;
  }
}

.info-window {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 12px;
    }
  }
}


.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

// MAPS
// ---------------------

.neighborhood-discovery {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100%;
  position: relative;
  width: 100%;

  a {
    color: #4285f4;
    text-decoration: none;
  }

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-size: inherit;
    padding: 0;
  }

  .info {
    color: #555;
    font-size: 0.9em;
    margin-top: 0.3em;
  }

  .panel {
    background: white;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 20em;
  }

  .panel.no-scroll {
    overflow-y: hidden;
  }

  .photo {
    background-color: #dadce0;
    background-position: center;
    background-size: cover;
    border-radius: 0.3em;
    cursor: pointer;
  }

  .navbar {
    background: white;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .right {
    float: right;
  }

  .star-icon {
    filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
    height: 1.2em;
    margin-right: -0.3em;
    margin-top: -0.08em;
    vertical-align: top;
    width: 1.2em;
  }

  .star-icon:last-child {
    margin-right: 0.2em;
  }

  .map {
    bottom: 0;
    left: 20em;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media only screen and (max-width: 640px) {
    .panel {
      right: 0;
      top: 50%;
      width: unset;
    }

    .map {
      bottom: 50%;
      left: 0;
    }
  }

  /* --------------------------- PLACES PANEL --------------------------- */
  .places-panel {
    box-shadow: 0 0 10px rgba(60, 64, 67, 28%);
    z-index: 1;

    header {
      padding: 0.5em;
    }
  }

  .search-input {
    input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3em;
      box-sizing: border-box;
      font-size: 1em;
      height: 2.2em;
      padding: 0 2.5em 0 1em;
      width: 100%;
    }

    button {
      position: absolute;
      right: 0.8em;
      top: 0.8em;
    }
  }

  .show-more-button {
    bottom: 0.5em;
    display: none;
    left: 28%;
    line-height: 1.5em;
    padding: 0.6em;
    position: relative;
    width: 44%;

    .sticky {
      background: white;
      border-radius: 1.5em;
      box-shadow: 0 4px 10px rgba(60, 64, 67, 28%);
      position: sticky;
      z-index: 2;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .place-results-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .place-result {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: flex;
    padding: 0.8em;

    .text {
      flex-grow: 1;
    }

    .name {
      font-size: 1em;
      font-weight: 500;
      text-align: left;
    }

    .photo {
      flex: 0 0 4em;
      height: 4em;
      margin-left: 0.8em;
    }
  }


  /* -------------------------- DETAILS PANEL --------------------------- */

  .details-panel {
    display: none;
    z-index: 20;

    .back-button {
      color: #4285f4;
      padding: 0.9em;

      .icon {
        /* Match link color #4285f4 */
        filter: invert(47%) sepia(71%) saturate(2372%) hue-rotate(200deg) brightness(97%) contrast(98%);
        height: 1.2em;
        width: 1.2em;
        vertical-align: bottom;
      }
    }

    header {
      padding: 0.9em;
    }

    h2 {
      font-size: 1.4em;
      font-weight: 400;
      margin: 0;
    }

    .section {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding: 0.9em;
    }

    .contact {
      align-items: center;
      display: flex;
      font-size: 0.9em;
      margin: 0.8em 0;

      .icon {
        width: 1.5em;
        height: 1.5em;
      }

      .text {
        margin-left: 1em;
      }

      .weekday {
        display: inline-block;
        width: 5em;
      }
    }

    .photos {
      text-align: center;
    }

    .photo {
      display: inline-block;
      height: 5.5em;
      width: 5.5em;
    }

    .review {
      margin-top: 1.2em;

      .reviewer-avatar {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        height: 1.8em;
        margin-right: 0.8em;
        width: 1.8em;
      }

      .reviewer-name {
        color: #202124;
        font-weight: 500;
        line-height: 1.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .rating {
        margin: 0.5em 0;
      }
    }

    .attribution {
      color: #777;
      margin: 0;
      font-size: 0.8em;
      font-style: italic;
    }
  }

  /* --------------------------- PHOTO MODAL ---------------------------- */

  .photo-modal {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .photo-modal > img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .photo-modal > div {
    border-radius: 0.4em;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    margin: 1em;
    padding: 0.9em;
    position: absolute;
  }

  .photo-modal .back-button .icon {
    filter: brightness(0) invert(1);
    margin: 0.4em 0.6em 0 0;
  }

  .photo-modal .photo-text {
    float: right;
  }

  .photo-modal .photo-attrs {
    font-size: 0.8em;
    margin-top: 0.3em;
  }
}
